<% include partials/headerAgradecimento %>

<h2 class="obrigado">< Obrigado pelos ensinamentos, paciência e interesse em nos ensinar! /></h2>

<div class="container">
  <div class="container-fluid prof">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <div class="col-md-3">
        <ul class="ninjasEProfs">
          <img src="../../img/prof.png">
          <li>Gabriel Capella</li>
          <a href="https://github.com/capellaresumo" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="ninjasEProfs">
          <img src="../../img/prof.png">
          <li>Alberto Anderick Jr</li>
          <a href="https://github.com/anderick" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="ninjasEProfs">
          <img src="../../img/prof.png">
          <li>Bruno Pimentel</li>
          <a href="https://github.com/brunoapimentel" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="ninjasEProfs">
          <img src="../../img/prof.png">
          <li>Renan Rodrigo</li>
          <a href="https://github.com/renanrodrigo" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid ninja">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <div class="col-md-4">
        <ul class="ninjasEProfs">
          <img src="../../img/yellowNinja.png">
          <li>Vinícius Felisberto</li>
          <a href="https://github.com/vifelisberto" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="ninjasEProfs">
          <img src="../../img/yellowNinja.png">
          <li>Pedro Este</li>
          <a href="https://github.com/pedroeste" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="ninjasEProfs">
          <img src="../../img/yellowNinja.png">
          <li>Caíque Andrade</li>
          <a href="https://github.com/caiqueandrade" target="_blanck"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="ninjasEProfs colaboradoras">
          <img src="../../img/mac.png">
          <li>Giselle Giselle Cruz</li>
          <a href="https://www.linkedin.com/in/giselle-cruz-616246140/" target="_blanck"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="ninjasEProfs colaboradoras">
          <img src="../../img/mac.png">
          <li>Fernanda Carvalho</li>
          <a href="https://www.behance.net/fccarvalho3d47" target="_blanck"><i class="fa fa-behance-square" aria-hidden="true"></i></a>
        </ul>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
