<% include partials/header %>



  <div class="landing">
    <h1><strong>IOT na sua cidade</strong> <img class="logoAtlantis" src="../../img/logo_atlantis.png" alt=""></h1>
    <h2>Monitore pontos de alagamento através de internet das coisas</h2>
    <a href="/grafico" class="btn btn-primary btn-lg">Ver Monitoramento <i class="fa fa-area-chart" aria-hidden="true"></i></a>
  </div>



  <canvas resize="true" hidpi="off" id="myCanvas" data-paper-scope="1"
  style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width:100%; height:100%; max-width: 40000px; max-height:100%; position:absolute; opacity: 0.6; z-index: -999;"></canvas>




<% include partials/footer %>
