<% include partials/headerSobre %>

  <div class="container sobre">
    <div class="thumbnail">
      <ul>
        <li><strong>Quem somos</strong></li>
        <p> Estudantes apaixonados por tecnologia que decidiram usar a internet das coisas (IoT) para alertar moradores que residem ou transitam em áreas de risco de enchentes na cidade de São Paulo.
        </p>
      </ul>
      <ul>
        <li><strong>Nossa visão</strong></li>
        <p> Acreditamos que em um futuro próximo a cidade de São Paulo será controlada e monitorada através de sensores para facilitar e melhorar a vida das pessoas.
        </p>
      </ul>
      <ul>
        <li><strong>Nossa missão</strong></li>
        <p> Acreditamos que com a internet das coisas (IoT) podemos melhorar a vida das pessoas de forma inteligente, prática, com baixo custo e de forma eficaz.
        </p>
      </ul>
      <ul>
        <li><strong>Como funciona</strong></li>
        <p> A ideia do projeto é instalar o dispositivo em todos os pontos de alagamento na cidade de São Paulo, para cada situação exige uma adaptação mecânica especifica para o sensor enviar os dados precisos para o servidor
        </p>
      </ul>
    </div>
    </div>

<% include partials/footer %>
